* {
    margin: 0;
    padding: 0;
    font-family: ziti;
}

@font-face {
    font-family: ziti;
    src: url('../another/ziti.ttf')
}

li {
    list-style-type: none;
}

html {
    background-color: #fafafa;
}

p {
    font-size: 25px;
}

button {
    outline-style: none;
    border-style: none;
}

.icon {
    width: 1.5em;
    height: 1.5em;
    vertical-align: -0.4em;
    fill: currentColor;
    overflow: hidden;
}

.number {
    transform: scale(1.1);
}

.picicon {
    width: 40px;
    height: 40px;
    margin: -10px 0;
}

header {
    z-index: 9999;
    position: sticky;
    top: 0;
    background-color: #E382A3;
    height: 60px;
    padding: 0 15vw;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 25px;
    color: #fafafa;
    letter-spacing: 1vw;
}

.feijiicon {
    transform: rotatey(180deg) scale(0.8);
    transition: all 1s;
}

.feijiicon:hover {
    animation: iconflashone 1s linear;
}

@keyframes iconflashone {
    0% {
        transform: rotatey(180deg) rotateZ(0deg) scale(0.8);
    }

    10% {
        transform: rotatey(180deg) rotateZ(0deg) scale(0.5);
    }

    20% {
        transform: rotatey(180deg) rotateZ(0deg) scale(0.6);
    }

    30% {
        transform: rotatey(180deg) rotateZ(0deg) scale(0.8);
    }

    40% {
        transform: rotatey(180deg) rotateZ(15deg) scale(1.2);
    }

    50% {
        transform: rotatey(180deg) rotateZ(-15deg) scale(1.8);
    }

    60% {
        transform: rotatey(180deg) rotateZ(15deg) scale(2.0);
    }

    70% {
        transform: rotatey(180deg) rotateZ(-15deg) scale(2.0);
    }

    80% {
        transform: rotatey(180deg) rotateZ(15deg) scale(1.6);
    }

    90% {
        transform: rotatey(180deg) rotateZ(0deg) scale(1.0);
    }

    100% {
        transform: rotatey(180deg) rotateZ(0deg) scale(1);
    }
}

.choose {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 700px;
    max-width: 900px;
}

.chooses {
    height: 75vh;
    width: 80vw;
    margin: 0 auto;
    background-color: #fafafa;
    transform: scale(1.2);
}

.chooses button {
    border-radius: 30px;
    height: 60px;
    width: 220px;
    font-size: 25px;
    line-height: 65px;
    margin: 0 20px;
    transition: all 0.4s;
}

.chooses1 {
    height: 120px;
    width: 60vw;
    margin: 50px auto;
    box-shadow: 0vw 0vw 20px -10px #E382A3;
    background-color: #ffffff;
    transition: all 0.8s;
}

.chooses1 button {
    border-radius: 25px;
    font-size: 20px;
    height: 50px;
    width: 180px;
    line-height: 55px;
    margin: 0 20px;
    transition: all 0.4s;
}

.choose button {
    background-color: #E382A3;
    box-shadow: 0 0 20px -3px #E382A3;
    color: #ffffff;
    letter-spacing: 10px;
    text-align: center;
}

button:hover {
    transform: scale(1.15);
}

.choose button:active {
    background-color: #ffb4cd;
    transition-delay: initial;
}

.content {
    display: none;
    animation: fadeEffect 0.7s;
}

@keyframes fadeEffect {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.choise {
    width: 55vw;
    min-width: 700px;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 100px;

    line-height: 30px;
    letter-spacing: 2px;
}

.content .box {
    margin: 40px auto;
    padding: 50px 50px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 5px 10px -5px #cfcfcf;
    font-size: 20px;

    transition: all 1s;
}

.content .box:hover {
    border-radius: 20px;
    transform: scale(1.06);
    box-shadow: 0vw 25px 30px -25px #444444;
}

.choise button {
    background-color: #E382A3;
    height: 50px;

    padding: 5px 30px 0;
    margin: 5px 0 20px 40px;

    border-radius: 4vw;
    box-shadow: 0 0 15px -3px #E382A3;

    font-size: 20px;
    color: #ffffff;
    letter-spacing: 0.3vw;
    transition: all 0.5s;
}

.choise button:active {
    background-color: #D9507E;
    transition-delay: initial;
}

.helppic,
.helppicbig {
    border-style: solid;
    border-width: 0;
    border-radius: 0;
    z-index: 2;
    width: 30%;
    max-width: 400px;
    margin: 0 15vw;
    transition: all 0.5s;
}

#pcduan .box .helppicbig,#pcduan .box .helppic {
    width: 50%;
    margin: 0 10vw;
}

.helppic:hover {
    transform: scale(1.5);
    border-style: solid;
    border-width: 1vw;
    border-radius: 1vw;
    border-color: rgba(0, 0, 0, 0);
    background-color: rgba(32, 32, 32, 0.808);
}