* {
    margin: 0px;
    padding: 0px;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: black;
    -webkit-tap-highlight-color: transparent;
}

html {
    background-color: #fafafa;
}

.welcomebox {
    background-color: rgba(209, 163, 253);
    height: 7vh;
    overflow: hidden;
}

.welcometext {
    font-size: 3vh;
    font-weight: 300;
    line-height: 7vh;
    letter-spacing: 0.5vw;
}

.titlebox {
    z-index: 100;
    position: sticky;
    top: 0vw;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: saturate(180%) blur(15px);
    -webkit-backdrop-filter: saturate(180%) blur(15px);
    margin: 1vw 0;
    height: 6vh;
}

.titletext {
    font-size: 3vh;
    color: rgb(126, 126, 126);
    line-height: 6vh;
    letter-spacing: 3vw;
    padding-left: 6vw;
}

.titletext:hover .icon {
    animation: iconflashone 1s linear;
}

@keyframes iconflashone {
    0% {
        transform: rotateZ(0deg) scale(1);
    }

    10% {
        transform: rotateZ(0deg) scale(0.7);
    }

    20% {
        transform: rotateZ(0deg) scale(0.8);
    }

    30% {
        transform: rotateZ(0deg) scale(1.0);
    }

    40% {
        transform: rotateZ(15deg) scale(1.4);
    }

    50% {
        transform: rotateZ(-15deg) scale(2.0);
    }

    60% {
        transform: rotateZ(15deg) scale(2.2);
    }

    70% {
        transform: rotateZ(-15deg) scale(2.2);
    }

    80% {
        transform: rotateZ(15deg) scale(1.8);
    }

    90% {
        transform: rotateZ(0deg) scale(1.2);
    }

    100% {
        transform: rotateZ(0deg) scale(1);
    }
}

.searchbox {
    z-index: 0;
    position: relative;
    width: 90vw;
    height: 20vh;
    border-style: solid;
    border-radius: 0.5vw;
    border-color: rgb(248, 248, 248);
    border-top-color: rgba(209, 163, 253);
    border-width: 0.5vh;
    background-color: rgb(248, 248, 248);
    margin: 0 auto 4vh;

    box-shadow: 0 0.3vh 1vh rgb(240, 223, 255);
    transition: all 1s;
}

.searchbox:hover {
    border-radius: 2vh;
    box-shadow: 0 0.3vh 1vh rgb(226, 195, 255);
}

.searchboximg {
    width: 23vh;
    margin: auto;
}

.searchboximg:hover .searchboxpic {
    transform: scale(1.5);
}

.searchboxpic {
    width: 90%;
    margin: 5%;
    transition: all 0.5s cubic-bezier(0.74, -1.92, 0, 2.78);
}

.searchboxform {
    position: absolute;
    width: 80vw;
    height: 5vh;
    left: 5vw;
    bottom: 1vh;
}

.searchboxinput {
    float: left;
    width: 5vh;
    height: 5vh;
    border-radius: 2.5vh;
    border-style: none;
    outline-style: none;
    background-color: rgb(209, 163, 253);
    box-shadow: 0 0 1vw rgb(209, 163, 253);

    color: rgb(0, 0, 0, 0);
    font-size: 3vh;
    text-indent: 3vw;
    letter-spacing: 1vw;

    transition-property: width, box-shadow, color, border-radius, background-color;
    transition-duration: 0.5s, 0.8s, 0.5s, 0.8s, 0.8s;
}

.searchboxinput:hover {
    width: 79vw;
    color: gray;
    box-shadow: 0 0 1vh rgb(209, 163, 253);
    background-color: rgb(248, 248, 248);
    border-radius: 2.5vh;
}

.sousuoicon {
    float: left;
    display: block;
    height: 4vh;
    color: gray;

    font-size: 4vh;
    margin-top: 0.5vh;
    margin-left: -4.5vh;
    pointer-events: none;
}

.searchtext {
    z-index: -1;
    position: relative;
    top: -4vh;
    left: 12vw;
    clear: both;
    /*不受浮动元素影响*/
    float: left;
    color: gray;
    line-height: 3vh;
    font-size: 3vh;
    letter-spacing: 1vw;
    transition: color 0.2s;
}

.searchboxinput:hover~.searchtext {
    color: rgb(248, 248, 248);
}

#steam {
    letter-spacing: 1vw;
}

.fourboxline {
    position: relative;
    width: 96vw;
    margin: 0 2vw;

    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    align-items: flex-start;
}

/* 正常情况下 */
@media screen and (orientation:portrait) {
    .litlebox {
        width: 22vw;
        margin: 1vh 1vw;
        height: 31vw;
        font-size: 4vw;
        line-height: 8vw;
    }

    .boxpic {
        width: 20vw;
        padding: 1.5vw 1vw;
    }
}

/* 宽屏情况下 */
@media screen and (orientation:landscape) {
    .litlebox {
        width: 22vw;
        margin: 1vh 1vw;
        height: 18vh;
        line-height: 5vh;
        font-size: 3.5vh;
    }

    .boxpic {
        width: 10vh;
        padding: 1.5vh 1vw;
    }
}

.litlebox {
    box-shadow: 0px 0px 10px rgb(226, 195, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.smttext {
    letter-spacing: 1vw;
    width: 100%;
    background-color: #dddddd;
    border-bottom: solid 3px gray;
}

.boxpic {
    transition: all 0.5s cubic-bezier(0.74, -1.92, 0, 2.78);
}

.litlebox:hover .boxpic {
    z-index: 2;
    transform: scale(1.35);
}

.line2 {
    width: 94vw;
    margin: 0 3vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.toolsboxs {
    position: relative;
    width: 45vw;
    height: 240px;
    margin: 1vh 1vw;
    border-radius: 15px;
    transition-property: all;
    transition-duration: 0.5s;
}

.toolsboxs:hover {
    opacity: 0;
    border-radius: 30px;
}

.toolsboxtext {
    position: absolute;
    width: 300px;
    height: 180px;
    top: 15px;
    left: 30px;
}

.toolsboxtitle {
    line-height: 70px;
    color: white;
    font-size: 45px;
    font-weight: normal;
    letter-spacing: 4px;
}

.toolsboxcontent {
    width: 240px;
    height: 100px;
    margin-top: 5px;
    line-height: 30px;
    color: rgb(235, 235, 235);
    font-size: 25px;
    font-weight: lighter;
    letter-spacing: 2px;
}

.toolsboxpic {
    position: absolute;
    bottom: 0%;
    right: 5%;
    width: 35%;
    /*background-color: rgb(20, 57, 220)*/
}

.toolsboximg {
    width: 100%;
}

#toolsbox1 {
    background-image: linear-gradient(-30deg,
            rgba(199, 125, 255, 0.8)20%,
            rgba(199, 125, 255, 0.9)50%,
            rgba(199, 125, 255, 1)70%);
}

#toolsbox2 {
    background-image: linear-gradient(-30deg,
            rgba(125, 155, 255, 0.8)20%,
            rgba(125, 155, 255, 0.9)50%,
            rgba(125, 155, 255, 1)70%);
}

#toolsbox3 {
    background-image: linear-gradient(-30deg,
            rgba(255, 144, 125, 0.8)20%,
            rgba(255, 144, 125, 0.9)50%,
            rgba(255, 144, 125, 1)70%);
}

#toolsbox4 {
    background-image: linear-gradient(-30deg,
            rgba(36, 212, 103, 0.8)20%,
            rgba(36, 212, 103, 0.9)50%,
            rgb(36, 212, 103)70%);
}

#toolsbox5 {
    background-image: linear-gradient(-30deg,
            rgba(255, 162, 193, 0.8)20%,
            rgba(255, 162, 193, 0.9)50%,
            rgb(255, 162, 193)70%);
}

.line3 {
    width: 95%;
    height: 440px;
    margin: auto;
    overflow: hidden;
}

.flowbox {
    float: left;
    margin-top: 20px;
    width: 25%;
    height: 400px;

    transition: all;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
}

.line3:hover .flowbox {
    width: 10%;
}

.line3 .flowbox:hover {
    margin-top: 0px;
    width: 68%;
    height: 440px;
    box-shadow: 5px 7px 20px rgb(219, 219, 219);
}

#flowbox1 {
    background-color: rgb(220, 255, 64);
    transition: background-color, 0.5s;
}

.line3 #flowbox1:hover {
    background-color: rgb(252, 255, 241);
}

#flowbox2 {
    background-color: rgb(255, 239, 93);
    transition: background-color, 0.5s;
}

.line3 #flowbox2:hover {
    background-color: rgb(255, 254, 244);
}

#flowbox3 {
    background-color: rgb(235, 138, 255);
    transition: background-color, 0.5s;
}

.line3 #flowbox3:hover {
    background-color: rgb(253, 246, 255);
}

#flowbox4 {
    background-color: rgb(176, 147, 255);
    transition: background-color, 0.5s;
}

.line3 #flowbox4:hover {
    background-color: rgb(249, 247, 255);
}

.line3 center {
    color: rgb(78, 78, 78);
    font-size: 40px;
    font-weight: lighter;
    line-height: 50px;
    width: 50px;
    height: 300px;
    writing-mode: vertical-lr;
    margin: 60px auto;
    letter-spacing: 40px;

    transition: all;
    transition-duration: 0.5s;
}

.line3 .flowbox:hover center {
    margin: 80px auto;
    opacity: 0;
}

.line3 p {
    font-size: 20px;
    width: 80%;
    height: 350px;
    margin-top: -400px;
    margin-left: 10%;
    letter-spacing: 2px;
    line-height: 40px;
    overflow: hidden;
    opacity: 0;
}

.line3 .flowbox:hover p {
    opacity: 1;
    transition: all;
    transition-delay: 0.5s;
    transition-duration: 0.8s;
}
