* {
    margin: 0px;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: black;
    -webkit-tap-highlight-color: transparent;
}

.welcomebox {
    z-index: 100;
    background-color: rgba(209, 163, 253);
    width: 100%;
    height: 130px;
}

.welcometext {
    font-size: 250%;
    font-weight: 300;
    line-height: 140px;
    letter-spacing: 10px;
}

.titlebox {
    z-index: 1;
    position: sticky;
    top: -1px;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: saturate(180%) blur(15px);
    margin: 20px 0;
    height: 110px;
}

.titletext {
    font-size: 50px;
    font-weight: normal;
    color: rgb(126, 126, 126);
    line-height: 120px;
    letter-spacing: 30px;

    margin-top: 20px;
    padding-left: 50px;
}

.searchbox {
    z-index: 0;
    position: relative;
    width: 90%;
    height: 360px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(248, 248, 248);
    border-width: 10px;
    background-color: rgb(248, 248, 248);
    margin: auto;
    margin-bottom: 30px;
    box-shadow: 1px 2px 5px rgb(240, 223, 255);
    transition-property: box-shadow, border-radius;
    transition-duration: 1s, 1s;
}

.searchbox:hover {
    border-radius: 20px;
    box-shadow: 2px 3px 20px rgb(226, 195, 255);
}

.searchboximg {
    width: 45%;
    margin: auto;
}

.searchboxpic {
    width: 90%;
    margin: 5%;
}

.searchboxform {
    position: absolute;
    width: 90%;
    height: 102px;
    left: 5%;
    bottom: 5%;
}

.searchboxinput {
    float: left;
    width: 60px;
    height: 100px;
    border-radius: 50px;
    border-style: none;
    outline-style: none;
    background-color: rgb(209, 163, 253);
    box-shadow: 1px 1px 10px rgb(209, 163, 253);

    color: rgb(0, 0, 0, 0);
    padding-left: 40px;
    font-size: 250%;
    letter-spacing: 5px;

    transition-property: width, box-shadow, color, border-radius, background-color;
    transition-duration: 0.5s, 0.8s, 0.5s, 0.8s, 0.8s;
}

.searchboxinput:hover {
    width: 95%;
    color: gray;
    box-shadow: 3px 5px 15px rgb(209, 163, 253);
    background-color: rgb(248, 248, 248);
    border-radius: 30px;
}

.sousuoicon {
    float: left;
    display: block;
    height: 72px;
    color: gray;

    font-size: 72px;
    margin-top: 15px;
    margin-left: -87px;
    pointer-events: none;
}

.searchicon1 {
    width: 50px;
    margin-top: 26px;
    margin-left: -76px;
    pointer-events: none;
    /*点击时候不影响*/
}

.searchtext {
    z-index: -1;
    position: relative;
    top: -102px;
    left: 140px;
    clear: both;
    /*不受浮动元素影响*/
    float: left;
    color: gray;
    line-height: 102px;
    font-size: 50px;
    letter-spacing: 10px;
    transition: color 0.2s;
}

.searchboxinput:hover~.searchtext {
    color: rgb(248, 248, 248);
}

#steam {
    letter-spacing: 10px;
}

.fourboxline {
    position: relative;
    width: 100%;
    height: 300px;
}

.litlebox {
    box-shadow: 2px 3px 10px rgb(240, 223, 255);
    width: 22%;
    height: 290px;
}

.litlebox:hover .boxpic {
    z-index: 100;
    transform: scale(1.7);
}

.leftbox1 {
    float: right;
    margin-right: 74%;
    margin-top: -290px;
}

.leftbox2 {
    float: right;
    margin-right: 50.7%;
}

.rightbox3 {
    float: left;
    margin-left: 50.7%;
    margin-top: -290px;
}

.rightbox4 {
    float: left;
    margin-left: 74%;
    margin-top: -290px;
}

.smtbox {
    width: 100%;
    height: 70px;
}

.smttext {
    font-size: 240%;
    color: black;
    letter-spacing: 5px;
    line-height: 70px;
}

.smtpicbox {
    position: relative;
    width: 100%;
    height: 220px;
    opacity: 1;

    background-color: rgb(246, 236, 255);
    transition-property: opacity;
    transition-duration: 2s;
}

.boxpic {
    position: absolute;
    bottom: 0;
    width: 100%;

    transition: all 0.5s cubic-bezier(0.42, 0, 0, 2.78);
}

.line2 {
    position: relative;
    width: 100%;
    height: 260px;
    /*background-color: blue;*/
}

.toolsboxs {
    position: relative;
    width: 45%;
    height: 240px;
    border-radius: 15px;
    transition-property: all;
    transition-duration: 0.5s;
}

.toolsboxs:hover {
    opacity: 0;
    border-radius: 30px;
}

.lefttoolsbox {
    float: right;
    margin-right: 4%;
}

.righttoolsbox {
    float: left;
    margin-left: 4%;
}

.toolsboxtext {
    position: absolute;
    width: 300px;
    height: 180px;
    top: 15px;
    left: 30px;
}

.toolsboxtitle {
    line-height: 70px;
    color: white;
    font-size: 45px;
    font-weight: normal;
    letter-spacing: 4px;
}

.toolsboxcontent {
    width: 240px;
    height: 100px;
    margin-top: 5px;
    line-height: 30px;
    color: rgb(235, 235, 235);
    font-size: 25px;
    font-weight: lighter;
    letter-spacing: 2px;
}

.toolsboxpic {
    position: absolute;
    bottom: 0%;
    right: 5%;
    width: 35%;
    /*background-color: rgb(20, 57, 220)*/
}

.toolsboximg {
    width: 100%;
}

#toolsbox1 {
    background-image: linear-gradient(-30deg,
            rgba(199, 125, 255, 0.8)20%,
            rgba(199, 125, 255, 0.9)50%,
            rgba(199, 125, 255, 1)70%);
}

#toolsbox2 {
    background-image: linear-gradient(-30deg,
            rgba(125, 155, 255, 0.8)20%,
            rgba(125, 155, 255, 0.9)50%,
            rgba(125, 155, 255, 1)70%);
}

#toolsbox3 {
    background-image: linear-gradient(-30deg,
            rgba(255, 144, 125, 0.8)20%,
            rgba(255, 144, 125, 0.9)50%,
            rgba(255, 144, 125, 1)70%);
}

#toolsbox4 {
    background-image: linear-gradient(-30deg,
            rgba(36, 212, 103, 0.8)20%,
            rgba(36, 212, 103, 0.9)50%,
            rgb(36, 212, 103)70%);
}

.line3 {
    width: 95%;
    height: 440px;
    margin: auto;

}

.flowbox {
    float: left;
    margin-top: 20px;
    width: 25%;
    height: 400px;

    transition: all;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
}

.line3:hover .flowbox {
    width: 10%;
}

.line3 .flowbox:hover {
    margin-top: 0px;
    width: 68%;
    height: 440px;
    box-shadow: 5px 7px 20px rgb(219, 219, 219);
}

#flowbox1 {
    background-color: rgb(220, 255, 64);
    transition: background-color, 0.5s;
}

.line3 #flowbox1:hover {
    background-color: rgb(252, 255, 241);
}

#flowbox2 {
    background-color: rgb(255, 239, 93);
    transition: background-color, 0.5s;
}

.line3 #flowbox2:hover {
    background-color: rgb(255, 254, 244);
}

#flowbox3 {
    background-color: rgb(235, 138, 255);
    transition: background-color, 0.5s;
}

.line3 #flowbox3:hover {
    background-color: rgb(253, 246, 255);
}

#flowbox4 {
    background-color: rgb(176, 147, 255);
    transition: background-color, 0.5s;
}

.line3 #flowbox4:hover {
    background-color: rgb(249, 247, 255);
}

.line3 center {
    color: rgb(78, 78, 78);
    font-size: 40px;
    font-weight: lighter;
    line-height: 50px;
    width: 50px;
    height: 300px;
    writing-mode: vertical-lr;
    margin: 60px auto;
    letter-spacing: 40px;

    transition: all;
    transition-duration: 0.5s;
}

.line3 .flowbox:hover center {
    margin: 80px auto;
    opacity: 0;
}

.line3 p {
    font-size: 20px;
    width: 80%;
    height: 350px;
    margin-top: -400px;
    margin-left: 10%;
    letter-spacing: 2px;
    line-height: 40px;
    overflow: hidden;
    opacity: 0;
}

.line3 .flowbox:hover p {
    opacity: 1;
    transition: all;
    transition-delay: 0.5s;
    transition-duration: 0.8s;
}
