* {
    margin: 0;
}

.welcomebox {
    background-color: rgb(239, 223, 255);
    height: 110px;
}

.welcometext1 {
    font-size: 300%;
    font-weight: 400;
    line-height: 100px;
    letter-spacing: 20px;
}

.welcometext {
    background-color: rgb(209, 163, 253);
}

.titletext1 {
    font-size: 250%;
    font-weight: 600;
    color: gray;
    line-height: 50px;
    letter-spacing: 40px;

    margin-top: 50px;
    padding-left: 50px
}

.contbox1 {
    width: 90%;
    margin: auto;
}

.contbox1img {
    width: 30%;
    margin: auto;
}

#pic1-1 {
    width: 100%;
}

.form1-1 {
    width: 100%;
    height: 100px;
}

.input1-1 {
    width: 80px;
    height: 80px;
    margin-top: 10px;
    border-radius:40px;
    border-style: none;
    outline-style: none;
    box-shadow: 1px 1px 10px rgb(146, 180, 255);
    color: white;
    text-align: left;
    padding-left: 40px;
    font-size: 200%;
}
.input1-1:hover{
    width: 95%;
    color: gray;
    box-shadow: 3px 5px 15px rgb(54, 117, 255);
}

.input1-1:focus {
    
}


.sousuo1{
    float: left;

    
}
